<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
	<listeners>
		<listener class-name="utilities.RetryListener"/>
		<listener class-name="utilities.TestListener" />
	</listeners>
	<test verbose="2" preserve-order="true" thread-count="1"
		name="Test Suite for Web Application">
		<!-- Define group inclusion in the <test> section -->
		<classes>
			<class name="tests.NAV_001_VerifyTopNavigationHeaderVisibilityTest">
				<methods>
					<include name="testTopNavigationBarDisplay"/>
				</methods>
			</class>
            <class name="tests.NAV_002_TopNavigationDropdownInteractionTest">
                <methods>
                    <include name="testNavigationDropdownInteractions"/>
                    <include name="testMarketsLinkNavigation"/>
                </methods>
            </class>
            <class name="tests.SPOT_001_SpotTradingCategoriesTest">
                <methods>
                    <include name="testSpotTradingPairsUnderAllCategory" />
                </methods>
            </class>
            <class name="tests.SPOT_002_SpotTradingStructuralTest">
                <methods>
                    <include name="testSpotTradingStructuralElements" />
                </methods>
            </class>
            <class name="tests.FOOT_001_FooterMarketingBannersTest">
                <methods>
                    <include name="testFooterMarketingBanners" />
                </methods>
            </class>
            <class name="tests.APP_001_002_AppDownloadLinksTest">
                <methods>
                    <include name="testAppStoreDownloadLink" />
                    <include name="testGooglePlayDownloadLink" />
                </methods>
            </class>
		</classes>
	</test>
</suite>
